div.topProductBox{
    width: 18vw;
    /* height: 20rem; */
    margin-bottom: 2rem;
}
div.imgBox{
    width: 18vw;
    height: 22rem;
    align-items: center;
    position: relative;
}
div.imgBox img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    object-position: center; 
}
div.topProductBox p.nameProduct {
    font-size: 0.8rem;
    width: 18vw;
    height: 1.2rem;
    flex-wrap: nowrap;
    overflow: hidden;
    font-weight: bold;
    text-align: left;
    margin: 0;
    align-items: center;
}
div.topProductBox p.category{
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
    margin: 0.5rem 0 0.5rem 0;
}
div.topProductBox div.price{
    display: flex;
    gap: 0
}
div.topProductBox p.minPrice{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    padding-top: 0.5rem;
}
div.topProductBox p.maxPrice{
    width: 8vw;
    margin: 0;
    font-size: 0.8rem;
    color: rgb(165, 165, 165);
    text-decoration: line-through;
    text-align: left;
    padding-left: 0.5rem;
}