button.colorId287{
    background-color: #2B263C;
}
button.colorId397{
    background-color: #82AEDF;
}
button.colorId432{
    background-color: #E9E3E0;
}
button.colorId479{
    background-color: rgb(0, 0, 0); /* Nền đen */
    background-image: radial-gradient(#FDF1E4 30%, transparent 40%);
    background-size: 5px 5px; /* Kích thước của chấm bi */
}
button.colorId490{
    background-color: rgb(255, 255, 255); /* Nền đen */
    background-image: radial-gradient(rgb(0, 0, 0) 30%, transparent 40%);
    background-size: 5px 5px; /* Kích thước của chấm bi */
}
button.colorId537{
    background-color: #5B8086;
}
button.colorId508{
    background-color: #C5A4B7;
}
button.colorId509{
    background-color: #FDF1E4;
}
button.colorId518{
    background-color: #C8A1B9;
}
button.colorId523{
    background-color: #202F58;
}
button.colorId525{
    background-color: #EB9092;
}
button.colorId526{
    background-color: #FDB44E;
}
button.colorId528{
    background-color: #75a8bb;
}
button.colorId530{
    background-color: #e2323e;
}
button.colorId531{
    background-color: #ffffff;
}
button.colorId532{
    background-color: #2a282b;
}
